# Ignore Go and txt files only in root (outside go-crud)
/*.go
/*.txt

#But allow entire go-crud folder and its content
# !go-crud/(*.go|*.txt)  // wrong 
!go-crud/
!go-crud/** 



# Ignore .env inside go-crud
go-crud/.env 

# Optional : Ignore IDE/editor/system files
*.log
*.swp
*.DS_Store
.idea/
.vscode/